:root {
  --almostBlack: rgb(3, 5, 3);
  --greenAccent: rgb(24, 211, 65);
  --secondaryGreen: rgb(10, 139, 75);
  --textColor: #ffffff;
}

::selection {
  background-color: var(--secondaryGreen);
  color: var(--textColor);
}

@media (prefers-color-scheme: dark) {
  .container {
    display: flex;
    flex-direction: row;
    background-color: rgb(3, 5, 3);
    justify-content: center;
    aspect-ratio: 16/6;
    width: 90%;
    margin: auto;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 75%;
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 25%;
  }

  .sweText {
    font-size: 1.8vw;
    font-weight: 500;
    color: rgb(255, 255, 255);
    width: 100%;
  }

  .nameText {
    font-size: 3vw;
    font-weight: 800;
    color: var(--greenAccent);
    overflow: hidden;
    white-space: nowrap;
    margin: 0 0;
    letter-spacing: 0.15em;
    display: inline-block; /* Ensure width is respected */
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .bodyText {
    font-size: 1.5vw;
    line-height: 1.75;
    font-weight: 200;
    letter-spacing: 0.07vw;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .linkButtonContainer {
    width: 4vw;
    height: 4vw;
    background-color: var(--almostBlack);
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 var(--greenAccent);
    transition: ease-out 0.2s;
  }

  .linkButtonContainer:hover {
    box-shadow: inset 5vw 0 0 0 var(--greenAccent);
    border-color: var(--almostBlack);
    cursor: pointer;
  }

  .resumeButton {
    font-size: 2vw;
  }

  .resumeButton {
    background: var(--almostBlack);
    width: 18vw;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    color: rgb(255, 255, 255);
    font-size: 1.6vw;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--greenAccent);
    transition: ease-out 0.2s;
  }

  .resumeButton:hover {
    box-shadow: inset 18vw 0 0 0 var(--greenAccent);
    color: var(--almostBlack);
    border-color: var(--almostBlack);
  }

  .linkButton {
    padding: 0.75vw;
    transition: ease-out 0.2s;
  }

  .linkButton:hover {
    filter: invert(0.972);
  }

  .linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1vw;
  }

  .nameHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .handWave {
    padding-left: 1vw;
    font-size: 2.5vw;
    animation-name: handWave-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes handWave-animation {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(15deg);
    }
    10% {
      transform: rotate(-9deg);
    }
    15% {
      transform: rotate(15deg);
    }
    20% {
      transform: rotate(-5deg);
    }
    25% {
      transform: rotate(8deg);
    }
    30% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
